{% extends 'shop/basic.html' %}

{% block title %} About Us {% endblock %}

{% block body %}
    <div class="container">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-dark">About 'My Awesome Cart'</h1>
                  <p class="fs-5 my-4">This website is made by <strong>Shreya Kapadia</strong> with help of Django, Python, HTML, CSS, JavaScript, BootStrap(version 5) and Little bit of JQuery.</p>
                <p>
                  <a href="/shop" class="btn btn-danger my-2 mx-2">View Products</a>
                  <a href="/shop/contact" class="btn btn-success my-2">Contact Us</a>
                </p>
              </div>
            </div>
        </section>
    </div>
{% endblock %}