{% extends 'shop/basic.html' %}
{% block title %} Checkout {% endblock %}
{% block body %}
<div class="container">
    <!-- Product ListView Starts -->
    <div class="col my-4">
        <h2> Step 1 - Order Summary - Review Your Items </h2>
        <div class="my-4">
            <ul class="list-group" id="items">
            </ul>
        </div>
        <div class="alert alert-primary" role="alert">
          Your cart Total is <strong>RS.<span id="totalPrice"></span></strong> Enter Your Details Below & Place Your Order. Thanks for shopping with My Awesome Cart.
        </div>
    </div>
    <!-- Product ListView Ends -->
    
    <!-- Order Details Starts -->
    <div class="col my-4">
        <h2> Step 2 - My Awesome Cart Express Checkout - Order Details </h2>
        <div id="myItemDetails" class="my-4">
        </div>
    </div>
    <!-- Order Details Ends -->
    
    <!-- Address Form Starts -->
    <div class="col my-4">
        <h2> Step 3 - Enter Address Details </h2>
        <form class="row g-3" method="POST" action="/shop/checkout/"> {% csrf_token %}
            <div class="col-md-6">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email-ID</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email-ID">
            </div>
            <div class="col-12">
                <label for="add1" class="form-label">Address Line 1</label>
                <input type="text" class="form-control" id="add1" name="add1" placeholder="1234 Main St">
            </div>
            <div class="col-12">
                <label for="add2" class="form-label">Address Line 2</label>
                <input type="text" class="form-control" id="add2" name="add2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone No.">
            </div>
            <div class="col-md-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="Enter Your City">
            </div>
            <div class="col-md-3">
                <label for="state" class="form-label">State</label>
                <input type="text" class="form-control" id="state" name="state" placeholder="Enter Your State">
            </div>
            <div class="col-md-3">
                <label for="pincode" class="form-label">Pincode</label>
                <input type="text" class="form-control" id="pincode" name="pincode" placeholder="Enter Your Pincode">
            </div>
            <input type="hidden" name="jsonItems" id="jsonItems">
            <input type="hidden" name="amount" id="amount">
            <div class="col-12">
                <button type="submit" class="btn btn-success">Checkout Now</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
var sum = 0;

// if cart is empty
if (localStorage.getItem('cart') == null) {
    var cart = {};
}
// if cart is non-empty, then get the value of cart
else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
// console.log(cart)

// Printing cart items
if ($.isEmptyObject(cart)) {
    let mystr = `<p>Add Some Items to Your Cart Before Checking Out!</p>`;
    $('#items').append(mystr);
    $('#myItemDetails').append(mystr);

} 
else {
    var totalPrice = 0;
    var i = 1;
    for (var item in cart) {
        let qty = cart[item][0];
        let name = cart[item][1];
        let price = cart[item][2];
        let desc = cart[item][3];
        totalPrice += qty*price;

        sum += qty;

        // Item Listing 
        let mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">${name}<span class="badge bg-primary rounded-pill">Quantity: ${qty}</span>
                    </li>`;

        $('#items').append(mystr);

        // Item Details
        let myItemDetailsStr = `<div class="list-group list-group-item list-group-item-action text-reset">
        <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><strong>${i}. ${name}</strong></h5>
                    <big><strong>&#8377;${price}</strong></big>
                </div>
                <p class="mb-1">${desc}</p>
                <p>Quantity: <strong>${qty}</strong></p></div>`;
        i++;
        $('#myItemDetails').append(myItemDetailsStr);
    }

    // Printing Total Price

    var totalStr = `<div class="list-group list-group-item list-group-item-action text-reset">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><strong>Grand Total:</strong></h5>
                        <big><strong>&#8377;${totalPrice}</strong></big>
                    </div>
                </div>`;

    $('#myItemDetails').append(totalStr);

    $('#totalPrice').append(totalPrice);
}

document.getElementById('cart').innerHTML = sum;

// Adding items to Database
$('#jsonItems').val(JSON.stringify(cart)); 

{% if order_status %}
    alert('Your order has been placed successfully! Track your order in Track Order Section with the Order ID: {{id}}');

    localStorage.clear();

    document.location = '/shop'; 
{% endif %}

// Setting amount equal to totalPrice
$('#amount').val($('#totalPrice').html())

</script>
{% endblock %}